html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Montserrat";
  src: local("MontserratRegular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("MontserratSemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Allura";
  src: local("AlluraRegular"), url("../fonts/Allura-Regular.woff2") format("woff2"), url("../fonts/Allura-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

a.caption,
p.caption {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
}

@media (hover: hover) {
  a.caption:hover, a.caption:focus, a.caption:active {
    outline: transparent;
    color: #FF4646;
    transition: color 0.3s ease-in-out;
  }
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.68px;
  color: #181C29;
  background-color: #FFFFFF;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button,
input {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:disabled,
input:disabled {
  cursor: default;
}

.burger {
  display: none;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.burger:focus {
  outline: transparent;
}
.burger__line {
  position: absolute;
  display: block;
  width: 20px;
  height: 1px;
  background-color: #181C29;
}
.burger__line:first-child {
  top: 16px;
}
.burger__line:last-child {
  bottom: 16px;
}
.burger.open > .burger__line__line:first-child {
  top: 21px;
  transform: rotate(45deg);
}
.burger.open > .burger__line__line:last-child {
  transform: rotate(-45deg);
  bottom: 18px;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}
@media (hover: hover) {
  .burger:hover, .burger:focus, .burger:active {
    outline: transparent;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  .burger:hover span, .burger:focus span, .burger:active span {
    background-color: #FF4646;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}

.selected-nav {
  color: #FF4646;
  background-color: rgba(255, 70, 70, 0.1019607843);
  cursor: default;
  pointer-events: none;
}

.selected-btn {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
  pointer-events: none;
}

.header {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  display: flex;
  justify-content: space-between;
  padding: 12px 82px;
}
.header__logo a {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 20px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav ul {
  display: flex;
  column-gap: 8px;
}
.header__nav ul li a {
  padding: 12px 20px;
  border-radius: 12px;
}
@media (hover: hover) {
  .header__nav ul li a:hover, .header__nav ul li a:focus, .header__nav ul li a:active {
    outline: transparent;
    background-color: rgba(255, 70, 70, 0.1019607843);
    color: #FF4646;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
}
@media (max-width: 768px) {
  .header__nav ul {
    display: none;
  }
}

.hero__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  background-color: #FF4646;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  background-image: url(../img/hero-snow.png), url(../img/hero-ball.png);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  max-width: 430px;
  max-height: 528px;
  padding: 60px 0 60px 0;
  color: #FFFFFF;
}
.hero__content h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.18em;
  text-align: center;
  text-transform: uppercase;
}
.hero__content a {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: block;
  padding: 21px 34px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #181C29;
}
@media (max-width: 768px) {
  .hero__content a {
    padding: 20px 31px;
  }
}
@media (hover: hover) {
  .hero__content a:hover, .hero__content a:focus, .hero__content a:active {
    outline: transparent;
    background-color: #FFFFFF;
    color: #181C29;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
}

.about__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  background-color: #FF4646;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  background-image: url(../img/about-snow.png);
  color: #181C29;
}
.about__content {
  display: flex;
  justify-content: space-between;
  max-height: 528px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
@media (max-width: 680px) {
  .about__content {
    flex-direction: column;
    max-height: 100%;
  }
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  max-width: 426px;
  margin: 100px 60px;
}
@media (max-width: 920px) {
  .about__text {
    max-width: 326px;
    margin: 100px 30px;
  }
}
@media (max-width: 768px) {
  .about__text {
    max-width: 256px;
    margin: 106px 60px;
  }
}
@media (max-width: 680px) {
  .about__text {
    max-width: 100%;
    margin: 60px 30px;
  }
}
@media (max-width: 380px) {
  .about__text {
    margin: 60px 20px;
  }
}
.about__text .caption {
  color: #FF4646;
}
@media (max-width: 680px) {
  .about__img {
    height: 528px;
  }
}
.about__img img {
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 680px) {
  .about__img img {
    width: 100%;
  }
}

.slider__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  background-color: #FF4646;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  background-image: url(../img/about-snow.png);
}
.slider__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-bottom: 20px;
}
.slider__heading h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 20px;
  height: 280px;
}
.slider__wrapper ul {
  position: absolute;
  top: 150px;
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
}
.slider__wrapper ul li p {
  font-size: 80px;
  font-weight: 600;
  line-height: 97.52px;
  text-transform: uppercase;
}
.slider__wrapper ul li img {
  font-size: 80px;
  font-weight: 600;
  line-height: 97.52px;
  text-transform: uppercase;
  min-width: 200px;
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .slider__wrapper ul {
    top: 153px;
  }
}
.slider__wrapper__buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
}
.slider__wrapper__buttons button {
  width: 56px;
  height: 56px;
  padding: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}
.slider__wrapper__buttons button:disabled {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
@media (hover: hover) {
  .slider__wrapper__buttons button:hover, .slider__wrapper__buttons button:focus, .slider__wrapper__buttons button:active {
    outline: transparent;
    background-color: #FFFFFF;
  }
  .slider__wrapper__buttons button:hover svg path, .slider__wrapper__buttons button:focus svg path, .slider__wrapper__buttons button:active svg path {
    outline: transparent;
    stroke: #FF4646;
    transition: stroke 0.3s ease-in-out;
  }
  .slider__wrapper__buttons button:disabled:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
  }
  .slider__wrapper__buttons button:disabled:hover svg path {
    stroke: #FFFFFF;
  }
}
@media (max-width: 768px) {
  .slider__wrapper__buttons {
    column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .slider__wrapper {
    height: 274px;
  }
}

.best-gifts__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  background-color: #FF4646;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  background-image: url(../img/bestGifts-snow.png);
}
.best-gifts__heading {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  margin-bottom: 18px;
}
.best-gifts__heading h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .best-gifts__heading {
    row-gap: 16px;
  }
}

.cta__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  background-color: #FF4646;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(../img/cta-snow.png), url(../img/cta-forest.png);
}
.cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 426px;
  margin: 60px 0;
  padding: 60px 0;
}
.cta__content h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
}
.cta__content a {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: block;
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181C29;
  color: #FFFFFF;
}
@media (hover: hover) {
  .cta__content a:hover, .cta__content a:focus, .cta__content a:active {
    outline: transparent;
    background-color: #FFFFFF;
    color: #181C29;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
}
.cta__content__counting {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.cta__content__counting ul {
  display: flex;
  align-items: center;
  padding: 9px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.cta__content__counting ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 80px;
  height: 52px;
  text-align: center;
}
.cta__content__counting ul li .text .number {
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.cta__content__counting ul li .text .desc {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.cta__content__counting ul li:nth-child(even) {
  width: 100%;
  min-width: 0;
}
.cta__content__counting ul li:nth-child(even) hr {
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.page-gifts .gifts__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  background-color: #FF4646;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-image: url(../img/gifts-garland.png);
  background-position: top;
  background-size: contain;
  border-radius: 20px;
}
.page-gifts .gifts__container ul {
  display: flex;
  gap: 12px;
}
.page-gifts .gifts__container ul li button {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 12px;
  color: var(--color-static-white);
}
@media (hover: hover) {
  .page-gifts .gifts__container ul li button:hover, .page-gifts .gifts__container ul li button:focus, .page-gifts .gifts__container ul li button:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
}
.page-gifts .gifts h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.18em;
  text-align: center;
  text-transform: uppercase;
  max-width: 426px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 680px) {
  .page-gifts .gifts__filter {
    column-gap: 4px;
  }
  .page-gifts .gifts__filter li button {
    padding: 12px 8px;
  }
}

.gift-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  color: #181C29;
}
.gift-cards li {
  position: relative;
  min-width: 310px;
  min-height: 342px;
  border-radius: 20px;
  background-color: #ECF3F8;
}
.gift-cards li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: transparent;
}
.gift-cards li a .desc {
  background-color: #FFFFFF;
  min-height: 112px;
  padding: 14px 20px;
  border-radius: 24px;
}
.gift-cards li a .desc p {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.gift-cards li a .desc h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .gift-cards li a .desc {
    padding: 21px 20px;
  }
}
@media (hover: hover) {
  .gift-cards li a:hover h3, .gift-cards li a:focus h3, .gift-cards li a:active h3 {
    color: #FF4646;
    transition: color 0.3s ease-in-out;
  }
}
@media (max-width: 1439px) {
  .page-home .gift-cards li {
    grid-template-columns: repeat(2, 310px);
  }
  .page-gifts .gift-cards li {
    grid-template-columns: repeat(3, 310px);
  }
}
@media (max-width: 1070px) {
  .gift-cards li {
    grid-template-columns: repeat(2, 310px);
  }
}
@media (max-width: 680px) {
  .gift-cards li {
    grid-template-columns: 310px;
  }
}
.gift-cards .work {
  color: #4361FF;
}
.gift-cards .health {
  color: #06A44F;
}
.gift-cards .harmony {
  color: #FF43F7;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
  background-color: #FFFFFF;
}
.footer__list-contacts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
.footer__list-contacts li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 100%;
  max-width: 417.33px;
  min-height: 204px;
  border-radius: 20px;
  padding: 20px;
  background-color: #ECF3F8;
}
.footer__list-contacts li a {
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.footer__list-contacts li a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media (hover: hover) {
  .footer__list-contacts li a:hover, .footer__list-contacts li a:focus, .footer__list-contacts li a:active {
    outline: transparent;
    color: #FF4646;
    transition: color 0.3s ease-in-out;
  }
  .footer__list-contacts li a:hover ~ p, .footer__list-contacts li a:focus ~ p, .footer__list-contacts li a:active ~ p {
    outline: transparent;
    color: #FF4646;
    transition: color 0.3s ease-in-out;
  }
}
.footer__list-contacts li p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .footer__list-contacts {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    margin-bottom: 66px;
  }
  .footer__list-contacts li {
    max-width: 100%;
  }
}
.footer__social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  padding: 10px;
  text-align: center;
}
.footer__social-container ul {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
.footer__social-container ul li {
  position: relative;
  width: 40px;
  height: 40px;
}
.footer__social-container ul li a {
  outline: transparent;
}
.footer__social-container ul li a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media (hover: hover) {
  .footer__social-container ul li a:hover svg path, .footer__social-container ul li a:focus svg path, .footer__social-container ul li a:active svg path {
    outline: transparent;
    stroke: #FF4646;
    transition: stroke 0.3s ease-in-out;
  }
}
@media (max-width: 1439px) {
  .footer__social-container {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
